.hexagon {
  position: relative;
  width: 25%;
  height: auto;
  overflow: hidden;
  padding: 0 1%;
}

.svg {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.overlaySvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.overlaySvg path {
  transition: fill-opacity 0.3s ease;
}

.overlaySvg text {
  transition: opacity 0.3s ease;
}

.hexagon:hover .overlaySvg {
  opacity: 1;
}

.hexagon:hover .overlaySvg path {
  fill-opacity: 0.8;
}

.hexagon:hover .overlaySvg text {
  opacity: 1;
}

.description {
  color: var(--color1);
  font-size: 18px;
  width: 85%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.hexagon:hover .description {
  opacity: 1; 
}

.dernier{
  margin-top: -5%;
  z-index: 2;
}