.loading{
    width: 100%;
    height: calc(100vh - 110px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point_container{
    display: flex;
    align-items: flex-end;
    margin-top: -40px;
}
.point{
    height: 5vw;
    width: 5vw;
    background-color: var(--color2);
    border-radius: 50%;
    margin: 0 10px;
}

