.projet{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2% 5%;
    
}

/* INFO */
.infos{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.tete{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    padding: 2% 0;
}
.nom{
    font-size: 50px;
    padding: 0 1% 0px 0px;
    color: var(--color4);
}
.titre{
    font-size: 30px;

}
.description{
    font-size: 20px;
    flex: 6;
}
.imageProjet{
    width: 100%;
    height: auto;
}

.divImage{
    margin-left: 2%;
    flex: 4;
}


/* technologie */

.technologies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2% 0;
    height: fit-content;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
/* detail Projet */

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
  }


 .detail{
    padding-top: 2%;
    margin: 0 50px;
 }